1. Вывести первые строки таблицы с помощью метода head

In [64]:
import pandas as pd
import numpy as np
import lxml
url = 'https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8#%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%B6%D1%83%D0%B2%D0%B0%D0%BD%D1%96%D1%81%D1%82%D1%8C'
tmp = pd.read_html(url, match='Коефіцієнт народжуваності в регіонах України ', thousands=' ', decimal=',')
df = tmp[0]
print(df.head())

             Регіон  1950  1960  1970  1990  2000  2012  2014  2019
0              Крим  23.0  20.6  16.0  13.0   7.3  12.6     —     —
1         Вінницька  22.4  19.2  14.2  12.4   8.4  11.2  10.9   7.6
2         Волинська  24.7  25.0  17.9  15.3  11.2  14.8  14.1  10.1
3  Дніпропетровська  20.4  20.4  15.1  12.3   7.1  11.2  11.1   7.1
4          Донецька  27.1  21.4  14.0  10.9   6.1   9.8   8.2     —

2. Определите количество строк и столбцов в датафрейме (атрибут shape)

In [8]:
print(df.shape)

(28, 9)

3. Замените в таблице значения "—" на значения NaN

In [65]:
df.replace('—', np.nan, inplace=True)

4. Определите типы всех столбцов с помощью dataframe.dtypes

In [21]:
df.dtypes

Регіон     object
1950      float64
1960      float64
1970      float64
1990      float64
2000      float64
2012      float64
2014       object
2019       object
dtype: object

5. Замените типы не числовых колонок на числовые. Подсказка - это колонки где находился символ "—"

In [66]:
df['2014'] =  df['2014'].astype('float64')
df['2019'] =  df['2019'].astype('float64')

6. Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [52]:
shr_nan_2014 = round(df['2014'].isnull().sum() / 
                     (df['2014'].count() + df['2014'].isnull().sum()) * 100, 2)
print(f'Доля пропусков в колонке [2014] - {shr_nan_2014}%')
 
shr_nan_2019 = round(df['2019'].isnull().sum() / 
                     (df['2019'].count() + df['2019'].isnull().sum()) * 100, 2)
print(f'Доля пропусков в колонке [2019] - {shr_nan_2019}%')

Доля пропусков в колонке [2014] - 7.14%
Доля пропусков в колонке [2019] - 14.29%

7. Удалите из таблицы данные по всей стране, последняя строчка таблицы

In [71]:
totalUkraine = df.iloc[27]
df.drop([27], axis=0, inplace=True)

8. Замените отсутствующие данные в столбцах средними значениями по этим столбцам (метод fillna)

In [79]:
df = df.fillna({'1950': df['1950'].mean(), 
                '1960': df['1960'].mean(), 
                '1970': df['1970'].mean(),
                '1990': df['1990'].mean(),
                '2000': df['2000'].mean(),
                '2012': df['2012'].mean(),
                '2014': df['2014'].mean(),
                '2019': df['2019'].mean()
                })

9. Получите список регионов, где уровень рождаемости в 2019 году был выше среднего по Украине

In [78]:
df.dtypes

Регіон     object
1950      float64
1960      float64
1970      float64
1990      float64
2000      float64
2012      float64
2014      float64
2019      float64
dtype: object