<a href="https://colab.research.google.com/github/PavelStelmakhV/hw302-pandas-usage/blob/main/Hw2.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd

1. Прочитайте файл 2017_jun_final.csv с помощью метода read_csv

In [51]:
url = 'https://drive.google.com/file/d/1JMYqXipZpz9Y5-vyxvLEO2Y1sRBxqu-U/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

2. Прочитайте полученную таблицу используя метод head

In [52]:
print(df.head())

   N                 Должность Язык.программирования Специализация  \
0  1        Junior QA engineer                   NaN     Manual QA
1  2        Junior QA engineer                   NaN     Manual QA
2  3         Software Engineer               C#/.NET           NaN
3  4         Software Engineer            JavaScript           NaN
4  5  Senior Software Engineer            JavaScript           NaN

  Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0               0.5                          0.5               400
1  меньше 3 месяцев             меньше 3 месяцев               430
2                 4                            1              2500
3                 5                            4              2000
4    10 и более лет                          0.5              4500

   Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                 0  Харьков       до 10 человек  ...
1                               130  Харьков  свыше 1000 человек  ...
2                               800     Киев     до 1000 человек  ...
3                               400   Одесса      до 200 человек  ...
4                               500   Другой       до 10 человек  ...

  Еще.студент Уровень.английского                    Предметная.область  \
0        True       ниже среднего                         iOS,eCommerce
1        True       выше среднего                        Веб-разработка
2       False             средний  Веб-разработка,Корпоративные системы
3       False       ниже среднего   Desktop Applications,Веб-разработка
4       False             средний   Desktop Applications,Веб-разработка

       Дата.заполнения                                         User.Agent  \
0  12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1  12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2  12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3  12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4  12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...

    exp current_job_exp salary Валюта  cls
0   0.5             0.5    400    NaN   QA
1   0.0             0.0    430    NaN   QA
2   4.0             1.0   2500    NaN  DEV
3   5.0             4.0   2000    NaN  DEV
4  10.0             0.5   4500    NaN  DEV

[5 rows x 25 columns]

3. Определите размер таблицы с помощью метода shape

In [53]:
print(df.shape)

(8704, 25)

4. Определите типы всех столбцов с помощью dataframe.dtypes

In [54]:
df.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

5. Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [64]:
print(df.isnull().sum())

N                                   0
Должность                           0
Язык.программирования               0
Общий.опыт.работы                   0
Опыт.работы.на.текущем.месте        0
Зарплата.в.месяц                    0
Изменение.зарплаты.за.12.месяцев    0
Город                               0
Размер.компании                     0
Тип.компании                        0
Пол                                 0
Возраст                             0
Образование                         0
Еще.студент                         0
Уровень.английского                 0
Дата.заполнения                     0
User.Agent                          0
exp                                 0
current_job_exp                     0
salary                              0
dtype: int64

6. Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [56]:
columns_for_delete = []
for column in df.columns:
  if df[column].isnull().sum() > 0:
    columns_for_delete.append(column)
columns_for_delete.remove('Язык.программирования')
df.drop(columns_for_delete, axis=1, inplace=True)

7. Опять посчитайте, какая доля пропусков содержится в каждой колонке и убедитесь, что остался только столбец "Язык.программирования"

In [57]:
print(df.isnull().sum())

Доля пропусков для колонок:
N - 0.0%
Должность - 0.0%
Язык.программирования - 44.23%
Общий.опыт.работы - 0.0%
Опыт.работы.на.текущем.месте - 0.0%
Зарплата.в.месяц - 0.0%
Изменение.зарплаты.за.12.месяцев - 0.0%
Город - 0.0%
Размер.компании - 0.0%
Тип.компании - 0.0%
Пол - 0.0%
Возраст - 0.0%
Образование - 0.0%
Еще.студент - 0.0%
Уровень.английского - 0.0%
Дата.заполнения - 0.0%
User.Agent - 0.0%
exp - 0.0%
current_job_exp - 0.0%
salary - 0.0%

8. Удалите все строки в исходной таблице с помощью метода dropna

In [61]:
df.dropna(axis=0, inplace=True)

9. Определите новый размер таблицы с помощью метода shape

In [63]:
print(df.shape)

(4854, 20)

10. Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

In [67]:
python_data = df.loc[df['Язык.программирования']=='Python']

11. Определите размер таблицы python_data с помощью метода shape

In [68]:
print(python_data.shape)

(207, 20)

12. Используя метод groupby выполните группировку по столбцу "Должность"